body {
    font-family: 'JetBrains Mono', monospace;
    background-image: url(https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    
    background-size: cover;
}

a {
    color: black;
}

header {
    box-shadow: 0 2px 5px grey;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    background: whitesmoke;
    }

footer {
    box-shadow: 0 2px 5px grey;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    background: whitesmoke;
}

header h1 {
    margin-left: 10%;
    font-size: 35px;
}

.bio {
    box-shadow: 0 2px 5px grey;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    background: whitesmoke;
    display: inline-flex;
}

.bio img {
    height: 100%;
    /* margin-left: 37%; */
}

.introText {
    text-align: left;
    font-size: 23px;
}

.introText h4 {
    margin-left: 5%;
    margin-right: 2%;
}

.contactInfo {
    text-align: center;
}

.personalProjects {
    box-shadow: 0 2px 5px grey;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    background: whitesmoke;
    text-align: center;
    font-size: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "title title title title"
    "card1 card2 car3 card4";
}

/* grid layout */
.personalProjects h3 {
    grid-area: title;
}

.card1 {
    grid-area: card1;
    padding: 0 10px;
}

.card2 {
    grid-area: card2;
    padding: 0 10px;
}

.card3 {
    grid-area: card3;
    padding: 0 10px;
}

.card4 {
    grid-area: card3;
    padding: 0 10px;
}

.personalProjects > a {
    box-shadow: 0 2px 5px grey;
    background: whitesmoke;
    margin: 0 5% 5% 5%;
    justify-content: center;
    color: #ad2130;
    text-decoration: none;
}

.personalProjects > a:hover{
    transform: scale(1.25);
    transition: all 1s;
} 

.personalProjects span {
    color: black;
    font-size: 18px;
}

.technicalSkills {
    box-shadow: 0 2px 5px grey;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    background: whitesmoke;
    text-align: center;
    display: flex;
    font-size: 18px;
    justify-content: center;
}

.technicalSkills h4 {
    color: #ad2130;
    margin-bottom: 0;
}

.frontEnd, .backEnd {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.footerText {
    text-align: center;
    padding: 1px 0;
}

